HEAD
__pycache__/
.ipynb_checkpoints/
.vscode/
*.pyc
*.pyo
*.DS_Store
Lab1(py)/data
.env
Lab1(py)/household_power_consumption.txt
venv/
.venv/

.ipynb_checkpoints/

__pycache__/
origin/Lab2
venvlab2/ 
Lab2(py)/venvlab2/ 
