name: Build Lab4 Project

on:
  push:
    branches: [ "main", "hw10" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install OpenCV & Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libopencv-dev cmake g++

    - name: Configure CMake
      run: |
        cd Lab4
        mkdir -p build
        cd build
        cmake ..

    - name: Build
      run: |
        cd Lab4/build
        make

    - name: Run Tests
      run: |
        cd Lab4/build
        cp ../test_face.jpg . || true 
        ctest --output-on-failure